@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

.react-select {
  @apply text-sm font-bold text-gray-700 tracking-wide dark:text-white;
  @apply transition border-none outline-none;

  .react-select__container {
    @apply block w-full rounded-lg border-none outline-none;

    outline: none;
    background-color: #fff;
    font-weight: 400;
    font-size: 1rem;
    margin: 10px 0;

    .react-select__control {
      background-color: var(--form-item-background-color);
      transition: background-color 0.1s ease;
      padding: 10px 0;
      outline: none;
      border: none;
    }

    .react-select__indicator-separator {
      display: none;
    }

    .react-select__control--is-focused,
    .react-select__control--menu-is-open {
      outline: var(--focus-select-outline) !important;
      box-shadow: none;
      border: none;
    }

    .react-select__option {
      padding: 10px 0;
    }

    .react-select__option--is-selected {
      color: var(--form-item-text-color);
      background-color: var(--focus-form-item-background-color);
    }

    .react-select__option--is-focused,
    .react-select__option:hover {
      background-color: var(--focus-select-option-background);
    }
  }

  .react-select__input-container {
    /* disable autocomplete styles */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: all 5000s ease-in-out 0s;
    }
  }
}

.dark .react-select {
  &__container {
    background-color: var(--form-item-dark-background-color);

    .react-select__control {
      background-color: var(--form-item-dark-background-color);
      outline: var(--form-item-dark-outline) !important;
      transition: none;
    }

    .react-select__control--is-focused,
    .react-select__control--is-active,
    .react-select__control--menu-is-open {
      outline: var(--focus-select-dark-outline) !important;
    }

    .react-select__menu {
      background-color: var(--form-item-dark-background-color);
    }

    .react-select__option {
      background-color: var(--form-item-dark-background-color);
    }

    .react-select__single-value {
      color: var(--form-item-dark-text-color);
    }

    .react-select__option--is-focused,
    .react-select__option:hover {
      background-color: var(--dark-theme-secondary-color);
    }
  }
}
