@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

.react-select {
  @apply block w-full rounded-lg border-none outline-none bg-backgroundColor font-normal text-base mt-3 mx-0 transition-all;

  .correct-react-select__control {
    @apply outline-none border-none bg-inputBackgroundColor transition-all py-2.5 px-0;
  }

  .correct-react-select__indicator-separator,
  .invalid-react-select__indicator-separator {
    display: none;
  }

  .correct-react-select__control--is-focused,
  .correct-react-select__control--menu-is-open {
    @apply border-none shadow-none ring-2 ring-primaryColor transition-all;
  }

  .correct-react-select__option,
  .invalid-react-select__option {
    @apply px-0 py-3;

    &--is-selected {
      @apply bg-backgroundColor text-textColor;
    }

    &--is-focused,
    &:hover {
      @apply text-buttonTextColor bg-secondaryColor;
    }
  }

  .invalid-react-select__control {
    @apply outline-none border-none bg-inputBackgroundColor border-none shadow-none ring-2 ring-errorIconColor transition-all py-2.5 px-0;
  }
}

.correct-react-select__input-container {
  /* disable autocomplete styles */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
  }
}

.dark .react-select {
  @apply bg-inputBackgroundColor;

  .correct-react-select__control {
    @apply bg-inputBackgroundColor ring-1 ring-tertiaryColor;
  }

  .correct-react-select__control--is-focused,
  .correct-react-select__control--is-active,
  .correct-react-select__control--menu-is-open {
    @apply ring-2 ring-secondaryColor transition-all;
  }

  .correct-react-select__placeholder,
  .invalid-react-select__placeholder {
    @apply text-inputPlaceholderColor;
  }

  .correct-react-select__menu,
  .invalid-react-select__menu {
    @apply bg-inputBackgroundColor;
  }

  .correct-react-select__option,
  .invalid-react-select__option {
    @apply bg-inputBackgroundColor text-textColor;
  }

  .correct-react-select__single-value,
  .invalid-react-select__single-value {
    @apply text-textColor;
  }

  .correct-react-select__option--is-focused,
  .invalid-react-select__option--is-focused,
  .correct-react-select__option:hover,
  .invalid-react-select__option:hover {
    @apply bg-secondaryColor dark:hover:text-buttonTextColor;
  }

  .invalid-react-select__control {
    @apply bg-inputBackgroundColor ring-2 ring-errorIconColor;
  }
}
