@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

.custom-input {
  @apply flex flex-row w-full;

  /* disable autocomplete styles */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
  }

  &__input-prefix {
    @apply flex flex-row items-center justify-center rounded-md p-4 mr-4 text-textColor dark:text-darkTextColor transition;
  }

  &__input {
    @apply bg-inputBackgroundColor outline-none mt-3 font-normal text-base transition;
    @apply focus:bg-focusInputBackgroundColor placeholder-inputPlaceholderColor;
  }

  &__error-icon {
    @apply absolute px-1 py-2 flex flex-row items-center justify-center right-8;
    @apply bg-inputBackgroundColor dark:bg-darkInputBackgroundColor text-errorIconColor dark:text-darkErrorIconColor;
    transform: translateY(50%);
  }

  &__correct-input {
    @apply p-4 focus:ring-2 focus:ring-secondaryColor;
  }

  &__invalid-input {
    @apply py-4 pl-4 pr-12 ring-2 ring-errorIconColor;
  }

  input {
    @apply block w-full rounded-md;
  }
}

.dark .custom-input {
  &__input {
    @apply bg-darkInputBackgroundColor ring-1 ring-darkTertiaryColor;
    @apply placeholder-darkInputPlaceholderColor;
  }

  &__correct-input {
    @apply focus:ring-darkSecondaryColor focus:ring-2 focus:ring-darkSecondaryColor;
  }

  &__invalid-input {
    @apply ring-darkErrorIconColor;
  }
}
