@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

.custom-input {
  @apply text-sm font-bold text-gray-700 tracking-wide dark:text-white transition;

  &__input-container {
    @apply flex flex-row w-full;

    /* disable autocomplete styles */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: all 5000s ease-in-out 0s;
    }
  }

  &__input-prefix {
    @apply flex flex-row items-center justify-center rounded-md p-4 mr-4;
  }

  &__input {
    outline: none;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--form-item-background-color);
    transition: var(--form-item-transition);

    &::placeholder {
      color: var(--form-item-placeholder-color);
    }

    &:focus {
      outline: var(--focus-form-item-outline);
      background-color: var(--focus-form-item-background-color);
    }
  }

  input {
    @apply block w-full rounded-md bg-gray-50 p-4;
  }
}

.dark .custom-input {
  &__input {
    background-color: var(--form-item-dark-background-color);
    outline: var(--form-item-dark-outline);

    &::placeholder {
      color: var(--form-item-placeholder-dark-color);
    }

    &:focus {
      outline: var(--focus-form-item-dark-outline);
    }
  }
}
