@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Common */

  --form-item-background-color: #f9fafb;
  --form-item-transition: background-color 0.15s ease, outline 0.15s ease;
  --form-item-placeholder-color: #6b7280;
  --form-item-text-color: #374151;

  --focus-form-item-background-color: #fff;
  --focus-form-item-outline: 2px solid #22c55e;

  --focus-select-outline: 1px solid #22c55e;
  --focus-select-option-background: #bbf7d0;

  /* Common - dark theme */

  --dark-theme-primary-color: #fff;
  --dark-theme-secondary-color: #4f46e5;

  --form-item-dark-text-color: #fff;
  --form-item-dark-background-color: #1f2937;
  --form-item-dark-outline: 1px solid #4b5563;
  --form-item-placeholder-dark-color: #9ca3af;

  --focus-form-item-dark-outline: 2px solid var(--dark-theme-secondary-color);
  --focus-select-dark-outline: 1px solid var(--dark-theme-secondary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  font-family:
    'Roboto',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

.absolute {
  position: absolute;
}
