@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;

  /* Common */
  --background-color: #ffffff;
  --primary-color: #4338ca;
  --secondary-color: #6366f1;
  --tertiary-color: #d1d5db;
  --button-text-color: #f3f4f6;
  --text-color: #374151;
  --input-background-color: #f9fafb;
  --input-placeholder-color: #6b7280;
  --focus-input-background-color: #fff;
  --error-icon-color: #dc2626;

  --form-item-transition: background-color 0.1s ease, outline 0.15s ease;

  /* Common - dark theme */

  --dark-background-color: #111827;
  --dark-primary-color: #6366f1;
  --dark-secondary-color: #818cf8;
  --dark-tertiary-color: #4b5563;
  --dark-button-text-color: #fff;
  --dark-text-color: #fff;
  --dark-input-background-color: #1f2937;
  --dark-input-placeholder-color: #9ca3af;
  --dark-error-icon-color: #fecaca;
}

body {
  font-family:
    'Roboto',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

.absolute {
  position: absolute;
}
