@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background-color: #ffffff;
  --primary-color: #4338ca;
  --secondary-color: #6366f1;
  --tertiary-color: #6b7280;
  --quaternary-color: #9ca3af;
  --quinary-color: #d1d5db;
  --button-text-color: #f3f4f6;
  --text-color: #374151;
  --input-background-color: #f9fafb;
  --input-placeholder-color: #6b7280;
  --focus-input-background-color: #fff;
  --error-icon-color: #dc2626;
  --modal-background-color: #11182790;
}

.dark {
  --background-color: #111827;
  --primary-color: #6366f1;
  --secondary-color: #818cf8;
  --tertiary-color: #4b5563;
  --quaternary-color: #6b7280;
  --quinary-color: #71717a;
  --button-text-color: #fff;
  --text-color: #fff;
  --input-background-color: #1f2937;
  --input-placeholder-color: #9ca3af;
  --error-icon-color: #fecaca;
  --modal-background-color: #7c3aed50;
}

body {
  font-family:
    'Roboto',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

.absolute {
  position: absolute;
}
